#version: "3.2"
services:
  php:
    container_name: 'php-is-83'
    build: './php'
    volumes:
      - ./html:/var/www/html
    depends_on:
      - db
    networks:
      - app-network

  apache:
    container_name: 'apache-is-83'
    build: './apache'
    depends_on:
      - php
    networks:
      - app-network
    ports:
      - "8080:80"
    volumes:
      - ./html:/var/www/html

  db:
    container_name: 'db-is-83'
    build: './mysql'
    #restart: always
    command: --max_allowed_packet=67108864
    environment:
        MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - '3306:3306'
    volumes:
     - ./mysql/database:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin
    container_name: 'phpmyadmin-is'
    environment:
      PMA_HOST: db-is-83
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - '8091:80'
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
